
  /* main styles*/  
  .nav-item:hover {
    transform: translateY(-5px) !important; 
  }
  
  body{

  }
  
  .menu-container {
    width: 100%;
    margin-top: 1rem;
  }  


    /* стили для футера */
